body {
    font-family: Oxygen;
    background: rgba(250, 250, 250, 0.747);
}

.hidden-content {
    display: none;
}

.opacity {
    opacity: 1 !important;
}

a {
    transition: 0.3s all ease;
    text-decoration: none !important;
    color: black;
    &:hover {
        color: #FFBA00 !important;
    }
}

p {
    margin: 0;
}

.here {
    opacity: 1 !important;
}

section {
    position: relative;
    margin-bottom: 16px;
    background: white;
}

.clicked {
    color: #FFBA00 !important;
}