body {
    background: rgba(229, 229, 229, 0.219);
    font-family: Oxygen;
    color: black;
}

.show .name {
    text-transform: uppercase;
}

.opacity {
    opacity: 1 !important;
}

a {
    transition: 0.3s all ease;
    text-decoration: none !important;
    color: black;
    &:hover {
        color: #FFBA00 !important;
    }
}

p {
    margin: 0;
}

.here {
    opacity: 1 !important;
}

section{
    position: relative;
    margin-bottom: 15px;
    background: white;
}

.clicked {
    color: #FFBA00 !important;
}