.border-here{
    display: flex;
    justify-content: center;
    transition: 0.3s all ease;
    .short-border{
        width: 50px;
        height: 1px;
        border-bottom: 1px solid black;
        margin-top: 18px;
        margin-bottom: 5px;
        transition: 0.3s all ease;
    }
}
section{
    position: relative;
    background: white;
    margin-top: 16px;
    padding: 35px 0 25px;
}
a{
    transition: 0.3s ease all !important;
    text-decoration: none;
    color: black;
    &:hover{
        text-decoration: none;
        color: #FFBA00 !important;
    }
}
body{
    position: relative;
    background: #F5F6F7;
    font-family: Oxygen !important;
    margin: 0;
}
.description-text {
    color: #777;
    margin-bottom: 5px;
    text-align: center;
}
.owl-dots{
    display: none !important;
}
@keyframes runbaby {
    0% {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -12%);
    }
    100%{
        top: 100%;
        left: 50%;
        transform: translate(-50%, -80%);
        display: none !important;
    }
}